# This requirements are for development and testing only, not for production.
black
coverage
flake8
flake8-django
flake8-docstrings
gitchangelog
isort
mkdocs
mypy
pytest
pytest-cov
# Types
djangorestframework-stubs
django-stubs
types-setuptools
pytest-black
pytest

pytest-django
pytest-sugar
